name: 'Release: Publish to NuGet'

on:
  workflow_dispatch:
    inputs:
      reason:
        description: 'The reason for running the workflow'
        required: true
        default: 'Manual run'

jobs:
  createArtifacts:
    name: Generate NuGet Packages
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
    
      - name: Set Environment Variables
        uses: ./.github/actions/set-env

      - uses: actions/checkout@v2

      - name: Setup dotnet
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: ${{ env.DOTNET_SDK_VERSION }}

      - name: Install dependencies
        run: dotnet restore
      
      - name: Build Solution
        run: dotnet build -c Release --no-restore

      - name: Test Solution
        run: dotnet test --configuration Release --no-build --no-restore

      - name: 'Pack and Publish: Core'
        uses: ./.github/actions/pack-and-publish
        with:
          projectPath: './src/XperienceCommunity.PageBuilderTagHelpers'
          preReleaseVersion: ${{ github.run_number }}-${{ github.run_attempt }}
      - name: 'Pack and Publish: Data'
        uses: ./.github/actions/pack-and-publish
        with:
          projectPath: './src/XperienceCommunity.PageBuilderUtilities'
          preReleaseVersion: ${{ github.run_number }}-${{ github.run_attempt }}

  publishPreRelease:
    name: Publish PreRelease NuGet Package
    environment: prerelease
    needs: createArtifacts
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v3
        with:
          name: prerelease
          
      - name: Publish NuGet Package
        run: dotnet nuget push *.nupkg -s https://api.nuget.org/v3/index.json -k ${{ secrets.NUGET_API_KEY }}

  publishRelease:
    name: Publish Release NuGet Package
    environment: release
    needs: [createArtifacts, publishPreRelease]
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v3
        with:
          name: release
          
      - name: Publish NuGet Package
        run: dotnet nuget push *.nupkg -s https://api.nuget.org/v3/index.json -k ${{ secrets.NUGET_API_KEY }}